.search {
	@apply relative w-full flex items-center;

	.input {
		@apply w-full rounded-full bg-grey-50;
		height: 46px;
	}

	.button-search {
		@apply flex items-center justify-center rounded-full text-white text-lg p-2 absolute top-0 right-0 bg-gradient-to-l from-primary to-secondary ease-in-out 
		transition;
		width: 46px;
		height: 46px;
		&:hover, &:focus {
			@apply  bg-gradient-to-r;
		}
	}
}
